* {
	margin: 0;
	padding: 0;
}

/* Section Wifi y Bateria Celular */

.celular {
	height: 26px;
	background-color: #3F3F3F;
	display: inline-block;
	color: white;
	padding-top: 5px;
}

.wifi {
	display: inline-flex;
}

.wifi i {
	padding: 0 2px;
}

.hora p {
	text-align: center;
}

p {
	margin: -2px 0px 0px;
}

/* Section Caja Contenedora de las Fotos */

.collage {
	background-color: #BFBFBF;
	padding: 5px 30px;
}

.caja1 {
	width: 184px;
	height: 184px;
	border: 1px solid #000;
	border-color: #000; 
	background-position: cover;
	padding: 0;
}

.caja2 {
	width: 184px;	
	height: 368px;	
	border: 1px solid #000;
	border-color: #000; 
}

/* Section Galeria de Fotos */

.fondo {
	background-color: #1C1D20;
	height: 50px;
}

.fondo p {
	color: #45709A;
	padding: 13px;
	font-size: 20px;
}

.colm-art {
	padding-right: 0;
    padding-left: 0;	
}

.colm-art img {
	width: 100%;
	background-position: cover;
}

/* Footer */

.footer-gal {
	background: #1C1D20;
	color: #AAAAAA;
	padding: 10px 0;
}

.footer-gal p {
	display: inline-block;
	padding: 0px 30px 0px;
}

.azul {
	color: #659FED;
}