* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 700px;
	background-repeat: no-repeat;
	background: linear-gradient(to bottom left,#4DAB7A, #BB6239);
}

/* Section Idioma */

.idioma {
	color: white;
	padding: 20px 0;
	font-weight: 200;
	opacity: 0.9;
}

/* Section Logo y Formulario */

.logo{
	width: 100%;
}

.logo img{
	width: 200px;
}

.input-group {
	width: 100%;
	padding: 10px 0;
}

.input-group input {
	background-color: white;
	border: none;
	opacity: 0.3;
}

.btn-primary {
    color: #fff;
    background-color: transparent;
    border: 1 solid #fff;
    border-color: #fff;
    border-radius: 0;
}

.btn-primary:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.4);    
    border-color: #fff;
    border: 1 solid #fff;    
}

.recuperar {
	padding: 10px 0;
	color: white;
	font-size: 12px;
	opacity: 0.8;
}

.recuperar a {
	color: white;
	text-decoration: none;
	font-weight: 600;
}

/* Section Facebook */

.facebook hr {
	width: 100px;
	margin: 0 15px;
}

.decoracion {
	color: white;
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-bottom: 20px;
}

.facebook {
	padding: 10px;
}

.facebook a i {
	font-size: 20px;
}

.facebook a {
	color: white;
	text-decoration: none;
}

/* Section Registro */

.regristro {
	color: white;
}

.regristro a {
	color: white;
	text-decoration: none;
	font-weight: 600;	
}
